# Copyright 2020-2025 Chris Croome
#
# This file is part of the Webarchitects RabbitMQ role.
#
# The Webarchitects RabbitMQ role is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
#
# The Webarchitects RabbitMQ role is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License along with the Webarchitects RabbitMQ role. If not, see <https://www.gnu.org/licenses/>.
---
- name: RabbitMQ
  block:

    - name: Validate RabbitMQ variables
      ansible.builtin.include_tasks: validate.yml
      when: rabbitmq_validate | bool

    - name: Include apt role local fact tasks if variables are not defined
      ansible.builtin.include_role:
        name: apt
        tasks_from: local_facts.yml
      when: >-
        ( ansible_facts.ansible_local.dpkg.arch is not defined ) or
        ( ansible_facts.ansible_local.gpg.version is not defined ) or
        ( ansible_facts.ansible_local.bash.path is not defined )

    - name: RabbitMQ packages
      ansible.builtin.apt:
        pkg:
          - rabbitmq-server
        update_cache: true
        state: present
      notify: Restart rabbitmq

    - name: Stat /lib/systemd/system/rabbitmq-server.service
      ansible.builtin.stat:
        path: /lib/systemd/system/rabbitmq-server.service
      register: rabbitmq_system_service

    - name: Stat /etc/systemd/system/multi-user.target.wants/rabbitmq-server.service
      ansible.builtin.stat:
        path: /etc/systemd/system/multi-user.target.wants/rabbitmq-server.service
      register: rabbitmq_system_service_symlink

    - name: RabbitMQ enabled and started
      ansible.builtin.systemd_service:
        name: rabbitmq-server
        enabled: true
        state: started
      when:
        - rabbitmq_system_service.stat.exists | bool
        - rabbitmq_system_service_symlink.stat.exists | bool

    - name: RabbitMQ configuration
      ansible.builtin.include_tasks: conf.yml
      when: rabbitmq_configuration is defined

    - name: RabbitMQ users
      ansible.builtin.include_tasks: user.yml
      loop: "{{ rabbitmq_users }}"
      loop_control:
        loop_var: rabbitmq_user
        label: "{{ rabbitmq_user.username }}"
      when: rabbitmq_users is defined

    - name: Include the systemd role
      ansible.builtin.include_role:
        name: systemd
        tasks_from: unit_present.yml
      loop: "{{ rabbitmq_systemd_units }}"
      loop_control:
        loop_var: systemd_unit
        label: "{{ systemd_unit.name }}"
      when:
        - rabbitmq_systemd is defined
        - rabbitmq_systemd | bool
        - rabbitmq_systemd_units is defined
        - rabbitmq_systemd_units != []

    - name: RabbitMQ checks
      ansible.builtin.include_tasks: checks.yml

  when: rabbitmq | bool
  tags:
    - rabbitmq
...
